* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: Gambetta;font-display: swap;src: url("../assets/fonts/Gambetta-LightItalic.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?cc9552442c456967c4f7a450867870fb") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-s-yt"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-s-wa"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-s-tw"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-s-tt"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-tc"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-s-pr"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-s-in"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-s-fb"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-s-db"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-s-bh"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-info"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-cheak"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-chain"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f112"; 
	} 
/* Generated by vite-plugin-svg-spritemap */
/* ----------------------------------------------------------------------- */
/* VARIABLES */
/* ----------------------------------------------------------------------- */
:root {
  /* Fonts */
  --font-family-primary: 'Chillax', sans-serif;
  --font-family-secondary: 'Satoshi', sans-serif;
  --font-family-tertiary: 'Gambetta', serif;
  --font-family-icon: 'iconfont';
  /* Text */
  --font-size: 1rem;
  --line-height: 1.8;
  /* Colors */
  --primary: rgba(218, 197, 167, 0.6);
  --text-default: #dac5a7;
  --text-dark-color: #0e0e0e;
  --menu-color: rgba(14, 14, 14, 0.8);
  --bg-color: #0e0e0e;
  --btn-bg-color: rgba(218, 197, 167, 0.05);
  --line-bg-color: rgba(218, 197, 167, 0.1);
  --btn-border-color: rgba(218, 197, 167, 0.15);
  --gray-color: #181716;
  --input-color: #22201c;
  --social-hover: #f0e0c9;
  --backdrop-filter: blur(0.9375rem);
  /* Hover */
  --transition-duration: 0.5s;
  --link-color: #f0e0c9;
  --hover-color: #f0e0c9;
  --marquee-gap: 25%;
}

/* data-fls-title */
/* data-fls-borderitem */
/* data-fls-labeltext */
html::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 1000;
  pointer-events: none;
}
html[data-fls-loaded]::after {
  opacity: 0;
  transition: opacity 1s;
}

body {
  min-width: 20rem;
  color: var(--primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size)px;
  line-height: var(--line-height);
  background-color: var(--bg-color);
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

[class*="--arrow-d"]::before {
  transform: rotate(180deg);
}

[class*="--arrow-l"]::before {
  transform: rotate(90deg);
}

[class*="--arrow-r"]::before {
  transform: rotate(-90deg);
}

[class*="--arrow-rd"]::before {
  transform: rotate(225deg);
}

[class*="--arrow-ld"]::before {
  transform: rotate(-135deg);
}

[class*="--arrow-ur"]::before {
  transform: rotate(45deg);
}

[class*="--arrow-ul"]::before {
  transform: rotate(-45deg);
}

.components__item:not(:last-child) {
  margin-bottom: 1rem;
}/* Generated by vite-plugin-svg-spritemap */
.h1,
.h2,
.h3,
.h4,
.label {
  font-family: var(--font-family-secondary);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--text-default);
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: 300;
}
.h1 {
  line-height: 1.1;
}
.h2 {
  line-height: 1.1;
}
.h3 {
  line-height: 1.2;
  letter-spacing: 0.0625rem;
}
.h4 {
  line-height: 1.3;
  letter-spacing: 0.0625rem;
}
.h5 {
  line-height: 1.4;
}

.label {
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}

.border {
  border-radius: 0.125rem;
  border: 0.0625rem solid var(--btn-border-color);
  background-color: var(--btn-bg-color);
  backdrop-filter: var(--backdrop-filter);
}/* Generated by vite-plugin-svg-spritemap */
.clients__item {
  scale: 0;
  transition: scale 0.5s ease;
}

.skill {
  translate: 0 10%;
  transition: translate 0.5s ease;
}

.social__item {
  translate: 0 100%;
  transition: translate 0.5s ease;
}

.--watcher-view .hero__blockhead {
  animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
.--watcher-view .hero__image {
  animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.--watcher-view .clients__item {
  scale: 1;
}
.--watcher-view .clients__item:nth-child(1) {
  transition-delay: 0.1s;
}
.--watcher-view .clients__item:nth-child(2) {
  transition-delay: 0.2s;
}
.--watcher-view .clients__item:nth-child(3) {
  transition-delay: 0.3s;
}
.--watcher-view .clients__item:nth-child(4) {
  transition-delay: 0.4s;
}
.--watcher-view .clients__item:nth-child(5) {
  transition-delay: 0.5s;
}
.--watcher-view .clients__item:nth-child(6) {
  transition-delay: 0.6s;
}
.--watcher-view .skill {
  transition-duration: 0.8s;
  translate: 0 0;
}
.--watcher-view .skill:nth-child(1) {
  transition-delay: 0.1s;
}
.--watcher-view .skill:nth-child(2) {
  transition-delay: 0.2s;
}
.--watcher-view .skill:nth-child(3) {
  transition-delay: 0.3s;
}
.--watcher-view .skill:nth-child(4) {
  transition-delay: 0.4s;
}
.--watcher-view .skill:nth-child(5) {
  transition-delay: 0.5s;
}
.--watcher-view .skill:nth-child(6) {
  transition-delay: 0.6s;
}
.--watcher-view .widget-header,
.--watcher-view .process__blockhead,
.--watcher-view .about-module__title,
.--watcher-view .lets__blockhead {
  animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.--watcher-view .works__items,
.--watcher-view .items-process__arrow,
.--watcher-view .anim,
.--watcher-view .item,
.--watcher-view .item-review,
.--watcher-view .about-module__text {
  animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
.--watcher-view .item-process::after {
  animation: scale-up-center 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.--watcher-view .social__item {
  transition-duration: 0.8s;
  translate: 0 0;
}
.--watcher-view .social__item:nth-child(1) {
  transition-delay: 0.1s;
}
.--watcher-view .social__item:nth-child(2) {
  transition-delay: 0.2s;
}
.--watcher-view .social__item:nth-child(3) {
  transition-delay: 0.3s;
}
.--watcher-view .social__item:nth-child(4) {
  transition-delay: 0.4s;
}
.--watcher-view .social__item:nth-child(5) {
  transition-delay: 0.5s;
}
.--watcher-view .social__item:nth-child(6) {
  transition-delay: 0.6s;
}

@keyframes slide-in-bottom {
  0% {
    translate: 0 6.25rem;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    translate: 0 -6.25rem;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.25rem;
  row-gap: 0.1875rem;
}
.menu__link {
  font-family: var(--font-family-secondary);
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  color: var(--text-default);
  position: relative;
  transition: all 0.5s ease;
}
.menu__link::after {
  position: absolute;
  content: "";
  transition-duration: var(--transition-duration);
  background-color: var(--link-color);
  inline-size: 0;
  block-size: 0.0625rem;
  inset-inline-start: 50%;
  inset-inline-end: 50%;
  inset-block-end: 0;
}
.menu__link--active {
  position: relative;
}
.menu__link--active::after {
  position: absolute;
  content: "";
  background-color: var(--link-color);
  width: 100%;
  height: 0.0625rem;
  left: 0;
  bottom: 0;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  top: 0.9375rem;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: none;
  transition: translate 0.8s, top 0.8s;
}
.header__container {
  pointer-events: auto;
}
.header__body {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  gap: 0.9375rem;
  position: relative;
}
.header__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: var(--backdrop-filter);
  border-radius: 0.125rem;
  border: 0.0625rem solid var(--btn-border-color);
  background-color: var(--btn-bg-color);
  z-index: 2;
}
.header__logo, .header__link-logo, .header__button {
  position: relative;
  z-index: 5;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll {
  top: 0.9375rem;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.8s, top 0.8s;
  translate: 0 calc(-100% - 0.9375rem);
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  background-color: var(--btn-bg-color);
}
.footer__container {
  max-width: 101.875rem;
}
.body-footer {
  display: flex;
  row-gap: 1.875rem;
}
.body-footer__content {
  flex: 0 1 28.75%; /* 460/1600 */
}
.body-footer__menus {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.body-footer__menu {
  flex-grow: 1;
}
.body-footer__title {
  font-family: var(--font-family-secondary);
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0.0625rem;
  color: var(--text-default);
}
.--spoller-init .body-footer__title {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
}
.--spoller-init .body-footer__title::after {
  content: "\f112";
  font-family: iconfont;
  font-size: 0.625rem;
  rotate: 180deg;
  transition: rotate 0.5s ease;
  color: var(--text-default);
}
.--spoller-active .body-footer__title::after {
  rotate: 0deg;
}
.body-footer__item:not(:last-child) {
  margin-bottom: 1rem;
}
.body-footer__link {
  line-height: 1.7;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s ease;
}
.body-footer__link::after {
  position: absolute;
  content: "";
  transition-duration: var(--transition-duration);
  background-color: var(--link-color);
  inline-size: 0;
  block-size: 0.0625rem;
  inset-inline-start: 50%;
  inset-inline-end: 50%;
  inset-block-end: 0;
}
.content-footer {
  display: flex;
  flex-direction: column;
}
.content-footer__socials.social {
  gap: 1rem;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.bottom-footer__copy {
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  font-family: var(--font-family-secondary);
  font-size: 0.8125rem;
  line-height: 1.46;
  letter-spacing: 0.09375rem;
  display: inline-flex;
  padding-block: 0.625rem;
  padding-inline: 1rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--text-default);
  transition: background-color 0.5s ease, color 0.5s ease;
}
.button--light {
  background-color: var(--text-default);
  color: var(--text-dark-color);
}
.button--icon {
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.75rem;
}
.button--text {
  padding: 0;
  background-color: transparent;
  border: none;
  gap: 0.75rem;
}
.button--text::before {
  width: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  padding-left: 0.125rem;
  align-items: center;
  border-radius: 50%;
  background-color: var(--btn-bg-color);
  border: 0.0625rem solid var(--btn-border-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}
.button--text-rev {
  flex-direction: row-reverse;
}
.button--fw {
  width: 100%;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.social--text .social__link {
  font-family: var(--font-family-secondary);
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.social__item {
  flex-shrink: 0;
}
.social__link::before {
  align-content: center;
  text-align: center;
  width: 2.875rem;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 0.8125rem;
  border: 0.0625rem solid var(--btn-border-color);
  background-color: var(--btn-bg-color);
  backdrop-filter: var(--backdrop-filter);
  color: var(--text-default);
  transition: all 0.5s ease;
}/* Generated by vite-plugin-svg-spritemap */
.lets {
  background-color: var(--btn-bg-color);
}
.line-talk__item {
  font-family: var(--font-family-secondary);
}
.line-talk__item {
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}/* Generated by vite-plugin-svg-spritemap */
.blockhead {
  text-align: center;
  display: grid;
  justify-items: center;
}
.blockhead {
  text-wrap: balance;
}
.blockhead--gap-8 {
  gap: 0.5rem;
}
.blockhead--left {
  text-align: start;
  justify-items: start;
}
.blockhead__label, .blockhead__title {
  font-family: var(--font-family-secondary);
  max-width: 62.5rem;
  color: var(--text-default);
}
.blockhead__label {
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
.blockhead__title {
  font-weight: 300;
}
.blockhead__title {
  line-height: 1;
}
.blockhead__title span {
  font-family: var(--font-family-tertiary);
  display: block;
}
.blockhead__text {
  line-height: 1.7;
  max-width: 37.5rem;
}
.blockhead__button {
  margin-top: 1.5rem;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-borderitem] {
  border-radius: 0.125rem;
  border: 0.0625rem solid var(--btn-border-color);
  background-color: var(--btn-bg-color);
  backdrop-filter: var(--backdrop-filter);
}/* Generated by vite-plugin-svg-spritemap */@media (max-height: 53.125em) and (width <= 20em) {
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }
}@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 47.99875em) {
  .menu {
    flex-grow: 1;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
    transition: right 0.3s;
    background-color: var(--menu-color);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    right: -100%;
    top: 0;
    transition: right 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    right: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    right: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 0.9375rem;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--text-default);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .body-footer {
    flex-direction: column;
  }
  .body-footer__menus {
    flex-direction: column;
    align-items: center;
  }
  .body-footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content-footer {
    align-items: center;
    text-align: center;
  }
  .content-footer__socials.social {
    justify-content: center;
  }
  .content-footer__socials.social .social__link {
    font-size: 0;
    gap: 0;
  }
  .bottom-footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about__header .blockhead--left {
    text-align: center;
    justify-items: center;
  }
}@media (max-width: 29.99875em) {
  .social {
    justify-content: center;
  }
}@media (width <= 20em) {
  .h1 {
    font-size: 2rem;
  }
  .h2 {
    font-size: 1.75rem;
  }
  .h3 {
    font-size: 1.5rem;
  }
  .h4 {
    font-size: 1.25rem;
  }
  .h5 {
    font-size: 1rem;
  }
  .footer {
    padding-block: 2.5rem;
  }
  .body-footer {
    column-gap: 1.25rem;
  }
  .body-footer__menus {
    column-gap: 1.25rem;
  }
  .body-footer__menus {
    margin-bottom: 1.875rem;
  }
  .body-footer__menus {
    row-gap: 1.25rem;
  }
  .body-footer__list {
    padding-top: 1.25rem;
  }
  .content-footer {
    gap: 1.25rem;
  }
  .button--text-big::before {
    font-size: 0.8125rem;
  }
  .button--text-big::before {
    width: 2.1875rem;
  }
  .lets__container {
    padding-block: 2.5rem;
  }
  .line-talk__item {
    font-size: 0.625rem;
  }
  .line-talk__item {
    padding-block: 0.5rem;
  }
  .blockhead {
    gap: 0.5rem;
  }
  .blockhead__title {
    font-size: 2.5rem;
  }
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }
  .blockhead__title--size-96 {
    font-size: 2.1875rem;
  }
  .blockhead__title--size-80 {
    font-size: 1.75rem;
  }
  .blockhead__text {
    font-size: 0.9375rem;
  }
  .blockhead__text--size-24 {
    font-size: 1rem;
  }
  .blockhead__text--size-18 {
    font-size: 0.875rem;
  }
}@media (max-height: 53.125em) and (width > 89.375em) {
  .blockhead__title--size-160 {
    font-size: 8rem;
  }
}@media (max-height: 53.125em) and (width > 20em) and (width <= 89.375em) {
  .blockhead__title--size-160 {
    font-size: clamp( 2.8125rem , 1.31700450450625rem  +  7.4774774775vw , 8rem );
  }
}@media (width > 20em) and (width <= 89.375em) {
  .h1 {
    font-size: clamp( 2rem , 1.423423423425rem  +  2.8828828829vw , 4rem );
  }
  .h2 {
    font-size: clamp( 1.75rem , 1.3896396396375rem  +  1.8018018018vw , 3rem );
  }
  .h3 {
    font-size: clamp( 1.5rem , 1.35585585585625rem  +  0.7207207207vw , 2rem );
  }
  .h4 {
    font-size: clamp( 1.25rem , 1.177927927925rem  +  0.3603603604vw , 1.5rem );
  }
  .h5 {
    font-size: clamp( 1rem , 0.927927927925rem  +  0.3603603604vw , 1.25rem );
  }
  .footer {
    padding-block: clamp( 2.5rem , 2.06756756756875rem  +  2.1621621622vw , 4rem );
  }
  .body-footer {
    column-gap: clamp( 1.25rem , 0.45720720720625rem  +  3.963963964vw , 4rem );
  }
  .body-footer__menus {
    column-gap: clamp( 1.25rem , 0.45720720720625rem  +  3.963963964vw , 4rem );
  }
  .body-footer__menus {
    margin-bottom: clamp( 1.875rem , 0.82995495495625rem  +  5.2252252252vw , 5.5rem );
  }
  .body-footer__menus {
    row-gap: clamp( 1.25rem , 0.8896396396375rem  +  1.8018018018vw , 2.5rem );
  }
  .body-footer__list {
    padding-top: clamp( 1.25rem , 1.03378378378125rem  +  1.0810810811vw , 2rem );
  }
  .content-footer {
    gap: clamp( 1.25rem , 0.8355855855875rem  +  2.0720720721vw , 2.6875rem );
  }
  .button--text-big::before {
    font-size: clamp( 0.8125rem , 0.7764639639625rem  +  0.1801801802vw , 0.9375rem );
  }
  .button--text-big::before {
    width: clamp( 2.1875rem , 1.95326576576875rem  +  1.1711711712vw , 3rem );
  }
  .lets__container {
    padding-block: clamp( 2.5rem , 0.3378378378375rem  +  10.8108108108vw , 10rem );
  }
  .line-talk__item {
    font-size: clamp( 0.625rem , 0.57094594594375rem  +  0.2702702703vw , 0.8125rem );
  }
  .line-talk__item {
    padding-block: clamp( 0.5rem , 0.35585585585625rem  +  0.7207207207vw , 1rem );
  }
  .blockhead {
    gap: clamp( 0.5rem , 0.35585585585625rem  +  0.7207207207vw , 1rem );
  }
  .blockhead__title {
    font-size: clamp( 2.5rem , 0.9144144144125rem  +  7.9279279279vw , 8rem );
  }
  .blockhead__title--size-160 {
    font-size: clamp( 2.8125rem , 0.740427927925rem  +  10.3603603604vw , 10rem );
  }
  .blockhead__title--size-96 {
    font-size: clamp( 2.1875rem , 1.0884009009rem  +  5.4954954955vw , 6rem );
  }
  .blockhead__title--size-80 {
    font-size: clamp( 1.75rem , 0.8130630630625rem  +  4.6846846847vw , 5rem );
  }
  .blockhead__text {
    font-size: clamp( 0.9375rem , 0.8474099099125rem  +  0.4504504505vw , 1.25rem );
  }
  .blockhead__text--size-24 {
    font-size: clamp( 1rem , 0.85585585585625rem  +  0.7207207207vw , 1.5rem );
  }
  .blockhead__text--size-18 {
    font-size: clamp( 0.875rem , 0.802927927925rem  +  0.3603603604vw , 1.125rem );
  }
}@media (width > 47.99875em) {
  [data-fls-header-scroll-show].--header-scroll {
    translate: 0 calc(-100% - 2.8125rem);
  }
}@media (min-width: 47.99875em) {
  .menu {
    position: relative;
    z-index: 4;
  }
  .header {
    display: flex;
    justify-content: center;
    top: 3rem;
  }
  .header__body {
    padding-left: 1.5rem;
    gap: 2rem;
  }
  .content-footer__socials.social {
    flex-direction: column;
    align-items: flex-start;
  }
}@media (width > 89.375em) {
  .h1 {
    font-size: 4rem;
  }
  .h2 {
    font-size: 3rem;
  }
  .h3 {
    font-size: 2rem;
  }
  .h4 {
    font-size: 1.5rem;
  }
  .h5 {
    font-size: 1.25rem;
  }
  .footer {
    padding-block: 4rem;
  }
  .body-footer {
    column-gap: 4rem;
  }
  .body-footer__menus {
    column-gap: 4rem;
  }
  .body-footer__menus {
    margin-bottom: 5.5rem;
  }
  .body-footer__menus {
    row-gap: 2.5rem;
  }
  .body-footer__list {
    padding-top: 2rem;
  }
  .content-footer {
    gap: 2.6875rem;
  }
  .button--text-big::before {
    font-size: 0.9375rem;
  }
  .button--text-big::before {
    width: 3rem;
  }
  .lets__container {
    padding-block: 10rem;
  }
  .line-talk__item {
    font-size: 0.8125rem;
  }
  .line-talk__item {
    padding-block: 1rem;
  }
  .blockhead {
    gap: 1rem;
  }
  .blockhead__title {
    font-size: 8rem;
  }
  .blockhead__title--size-160 {
    font-size: 10rem;
  }
  .blockhead__title--size-96 {
    font-size: 6rem;
  }
  .blockhead__title--size-80 {
    font-size: 5rem;
  }
  .blockhead__text {
    font-size: 1.25rem;
  }
  .blockhead__text--size-24 {
    font-size: 1.5rem;
  }
  .blockhead__text--size-18 {
    font-size: 1.125rem;
  }
}@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--hover-color);
  }
  .menu__link:hover::after {
    inline-size: 100%;
    inset-inline-start: 0;
    inset-inline-end: 0;
  }
  .menu__link--active:hover {
    color: var(--text-default);
  }
  .body-footer__link:hover {
    color: var(--hover-color);
  }
  .body-footer__link:hover::after {
    inline-size: 100%;
    inset-inline-start: 0;
    inset-inline-end: 0;
  }
  .button:hover {
    background-color: var(--text-default);
    color: var(--text-dark-color);
  }
  .button--light:hover {
    color: var(--text-default);
    background-color: var(--btn-bg-color);
  }
  .button--text:hover {
    background-color: transparent;
    color: var(--text-default);
  }
  .button--text:hover::before {
    background-color: var(--text-default);
    color: var(--text-dark-color);
  }
  .social__link:hover::before {
    color: var(--bg-color);
    background-color: var(--text-default);
  }
}@media (any-hover: none) {
  .menu__link:active {
    color: var(--hover-color);
  }
  .menu__link:active::after {
    inline-size: 100%;
    inset-inline-start: 0;
    inset-inline-end: 0;
  }
  .menu__link--active:active {
    color: var(--text-default);
  }
  .body-footer__link:active {
    color: var(--hover-color);
  }
  .body-footer__link:active::after {
    inline-size: 100%;
    inset-inline-start: 0;
    inset-inline-end: 0;
  }
  .button:active {
    background-color: var(--text-default);
    color: var(--text-dark-color);
  }
  .button--light:active {
    color: var(--text-default);
    background-color: var(--btn-bg-color);
  }
  .button--text:active {
    background-color: transparent;
    color: var(--text-default);
  }
  .button--text:active::before {
    background-color: var(--text-default);
    color: var(--text-dark-color);
  }
  .social__link:active::before {
    color: var(--bg-color);
    background-color: var(--text-default);
  }
}